* {
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #FFF5EE;
}

a {
    color: inherit
}


/* HEADER */

.header {
    display: flex;
    width: 100%;
    height: 3rem;
    background-color: #483D8B;
    font-family: 'Roboto', sans-serif;
    color: #FFF5EE
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    gap: 2rem;
    width: 80%;
    font-size: 1.2rem;
    font-weight: 500;
}


/* LISTA DE TODOS */

.mainTarefas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.tituloTarefas {
    font-family: 'Montserrat Alternates', sans-serif;
    padding-top: 1rem;
    font-size: 3rem;
    color: #483D8B;
}

.buttonTarefas {
    color: black;
    padding: .5rem .5rem .5rem .5rem;
    width: 100%;
    border-radius: 8px;
    background-color: #FFF5EE;
    border: 2px solid #483D8B;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.buttonTarefas:hover {
    background-color: #483D8B;
    color: #FFF5EE;
    transition: 1s;
    cursor: pointer;
}

.divEach {
    width: 80%;
}

.sectionTarefas {
    display: flex;
    padding-bottom: 1rem;
    width: 100%;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.divFormsTarefas {
    display: flex;
    gap: .5rem;
}

.buttonForm {
    color: #FFF5EE;
    border-radius: 8px;
    border: inherit;
    padding: .3rem .8rem .3rem .8rem;
    background-color: #483D8B;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.buttonForm:hover {
    background-color: #100c27;
    transition: 1s;
}

.buttonFormRemove {
    color: #FFF5EE;
    border-radius: 8px;
    border: inherit;
    padding: .3rem .8rem .3rem .8rem;
    background-color: #F53737;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.buttonFormRemove:hover {
    background-color: #ad0505;
    transition: 1s;
}


/* ADICIONAR TAREFA*/

.mainAddTarefas {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.tituloAddTarefas {
    font-family: 'Montserrat Alternates', sans-serif;
    padding-top: 1rem;
    font-size: 3rem;
    color: #483D8B;
}

.addTarefa {
    border-radius: 4px;
    padding: .6rem;
    border: 1px solid #000000;
    width: 30rem
}

.botaoAddTarefa {
    border-radius: 20px;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    background-color: #6A5ACD;
}

.inputAddTarefa {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

input[type="text"] {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.divAddTarefa {
    padding-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canetaIcon {
    width: 1.5rem;
    position: absolute;
    pointer-events: none;
}

.selecPrioridade {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

select {
    appearance: none;
    text-align: center;
    background-color: transparent;
    border: none;
    padding: 1rem 0rem 1rem 0rem;
    margin: 0;
    width: 30%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
}


/* EDITAR TAREFA */

.tituloEditarTarefas {
    font-family: 'Montserrat Alternates', sans-serif;
    padding-top: 1rem;
    font-size: 2rem;
    color: #483D8B;
}

span {
    color: #9bffb9;
}

.botaoEditarTarefa {
    border-radius: 20px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    background-color: #6A5ACD;
}


/* FOOTER */

.footer {
    width: 100%;
    height: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #483D8B;
    font-family: 'Roboto', sans-serif;
}