
<main class="mainAddTarefas">
  <h1 class="tituloEditarTarefas">Você está editando sua tarefa: <span class="nomeEditarTarefa">{{tarefas.nome}}</span></h1>
  <form action="/editartarefa" method="POST">
  <section class="inputAddTarefa">
      <input type="hidden" name="id" value={{tarefas.id}}>  
      <input class="addTarefa" type="text" name="nome" value={{tarefas.nome}} placeholder="Digite sua tarefa..."> 
  </section>
  <section class="selecPrioridade">
    <h1 class="tituloEditarTarefas">Qual a prioridade da tarefa?</h1>
      <select name="select">
        <option class="inputPrioridadeBaixa" value="Baixa" selected>Baixa</option>
        <option class="inputPrioridadeMedia" value="Media">Média</option>
        <option class="inputPrioridadeAlta" value="Alta">Alta</option>
      </select>
  </section>
    <div class="divAddTarefa">
      <input class="botaoEditarTarefa" type="submit" value="Editar"> 
    </div>   
</main>  