<main class="mainTarefas">
  <article class="articleDesc">
      <h3>Prioridade {{tarefas.prioridade}}</h3>
    <div class="sectionDesc">
      <h1 class="titlePagInd">{{tarefas.nome}}</h1>
      <p class="descPagInd">{{tarefas.descTarefa}}</p>
    </div>

  </article>
</main>