<main class="mainTarefas">
  <div class="divTituloPrioridadeAlta">  
    <h1 class="tituloTarefas">Lista de ToDos</h1>
    <h2 class="nomePrioridadeAlta">(Prioridade Alta)</h2>
  </div>
  <section>
  </section>
  <div class="divEach">
    {{#each tarefas}}
    <section class="sectionTarefas">
      <div class="divNomeTarefas">
        <h1><a href="/pagIndividual/{{this.id}}">{{this.nome}}</a></h1>
      </div>
      <div class="divFormsTarefas">
        <form action="/edit/{{this.id}}">
          <input type="submit" class="buttonForm" value="Editar">
        </form>
        <form action="/remove/{{this.id}}" method="POST">
          <input type="submit" class="buttonFormRemove" value="Remover">
        </form>
      </div>
    </section>
    {{/each}}
  </div>
</main>