<main class="mainAddTarefas">
  <h1 class="tituloAddTarefas">O que você precisa fazer?</h1>
  <form action="/addTarefa" method="POST">
  <section class="inputAddTarefa">
      <input class="addTarefa" type="text" name="nome" placeholder="Digite sua tarefa..."> 
    <div class="divAddTarefa">
      <img class="canetaIcon" alt="Caneta icone" src="caneta.png">
      <input class="botaoAddTarefa" type="submit" value=""> 
    </div>
  </section>   
</main>