<main class="mainAddTarefas">
  <h1 class="tituloAddTarefas">O que você precisa fazer?</h1>
  <form action="/addTarefa" method="POST">
  <section class="inputAddTarefa">
      <input class="addTarefa" type="text" name="nome" placeholder="Digite sua tarefa..."> 
  </section>
  <section class="selecPrioridade">
    <h1 class="tituloAddTarefas">Qual a prioridade da tarefa?</h1>
      <select name="select">
        <option value="pBaixa" selected>Baixa</option>
        <option value="pMedia">Média</option>
        <option value="pAlta">Alta</option>
      </select>
  </section>
    <div class="divAddTarefa">
      <img class="canetaIcon" alt="Caneta icone" src="caneta.png">
      <input class="botaoAddTarefa" type="submit" value=""> 
    </div>   
</main>