<h1>Lista de ToDos</h1>
<div>
  {{#each tarefas}}
  <div>
    <h1>#{{this.nome}}</h1>
    <form action="/tarefas/edit/{{this.id}}">
      <input type="submit" value="Editar">
    </form>
    <form action="/tarefas/remove/{{this.id}}" method="POST">
      <input type="submit" value="Remover">
    </form>
  </div>
  {{/each}}
</div>